.zoom{
    transition: all 1s ease-in-out;
    transform: rotate3d(0,0,0,0deg);
}

@media screen and (min-width: 500px)
{
    .zoom:hover{
        transform: scale(1.2);
        z-index: 10;
    }
    
    .img-product{
        width: 50%;
    }

    .img-product-bag{
        width: 40%;
    }

    .icon-element{
        width: 0.7em;
    }
}

@media screen and (min-width: 500px) and (max-width: 576px)
{
    .col-button-sm{
        width: 100%;
    }
}

@media screen and (min-width: 600px)
{
    .zoom:hover{
        transform: scale(1.3);
        z-index: 10;
    }

    .img-product{
        width: 60%;
    }

    .img-product-bag{
        width: 50%;
    }

    .icon-element{
        width: 0.8em;
    }
}

@media screen and (min-width: 750px)
{
    .zoom:hover{
        transform: scale(1.4);
        z-index: 10;
    }
    .img-product{
        width: 80%;
    }

    .img-product-bag{
        width: 55%;
    }

    .icon-element{
        width: 1em;
    }
}



@media screen and (min-width: 1000px)
{
    .zoom:hover{
        transform: scale(1.5);
        z-index: 10;
    }    
    .img-product{
        width: 100%;
    }

    .img-product-bag{
        width: 80%;
    }

    .btn-add{
        font-size: 0.8em;
    }

    .icon-element{
        width: 1em;
    }
}